body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.InfoArticulo{
  height: 450px;
}
.Watch{
  text-transform: uppercase;
  font-size: 10px;
}
.InfoVideo{
  text-align: justify;
  display: inline-block;
  width: 29%;
  position: absolute;
}
.InfoVideoRight{
  right: 0;
  padding-top: 25px;
}
.InfoVideoLeft{
  padding-top: 25px;
}
.InfoVideo p{
  padding: 0 20px;
}
.TitleVideo{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
.Video{
  width: 70%;
  height: 450px;
  border: 0;
  display: inline-block;
  right: 0;
  position: absolute;
}
.VideoLeft{
  width: 70%;
  height: 450px;
  border: 0;
  display: inline-block;
  left: 0;
  position: absolute;
}
#MetasLyft{
  background: linear-gradient(#76278f,#2b1e66);
  height: 550px;
}
.DivImgPhone{
  position: absolute;
  right: 0;
  padding: 60px 10% 0 50%;
}
.ImgPhone{
  height: 480px;
}
.Metas{
  color: #FFF;
  position: absolute;
  padding: 60px 2% 0 10%;
}
.Metas h1{
  font-size: 25px;
  text-transform: uppercase;
}
#PiePagina{
  height: 500px;
  background-color: #333447;
}
.MenuPiePagina{
  display: inline-block;
  margin: 20px 0 2px 12%;
}
.MenuPiePagina a{
  color: white;
  text-decoration: none;
}
.MenuPiePagina a:hover{
  color: #FF00BF;
  text-decoration: underline;
}
.MenuPiePagina a h3:hover{
  color: #FFF;
  text-decoration: underline;
}
